* {
  margin: 0;
  box-sizing: border-box;
  background-image: url(https://c.tenor.com/nQ-jhIV99ukAAAAM/flying-through-space-cosmos.gif);
  background-size: cover;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.junto {
  width: 500;
  height: 580;
}
