*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --primary-color:#355DBD;
    --secondary-color:#FF446A;
}

html, body{
    height: 76.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body{
    font-size: 1.6rem;
}

.pintor{
    position: absolute;
    left: 73.5rem;
    top: 3.2rem;
    width: 40.6rem;
    height: 49.9rem;

}
header{
    width: 102.4rem;
    height: 28.1rem;
    background-image: url("assets/fundotinta.svg");

    display: flex;
    justify-content: left;
    align-items:baseline;
    padding: 2.5rem;
}

main{
    width: 102.4rem;
    height: 41.9rem;
    background: #FFFFFF;

    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    

    margin-left: 8rem;
    
}
footer{
    width: 102.4rem;
    height: 6.8rem;
    background-image: url("assets/fundo-rodapé.svg");
    color: #0e7405;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
     display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5rem;
}


.under{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 25rem;
    height: 3.6rem;
    left: 82.5rem;
    top: 57.2rem;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 5.0rem;
    text-decoration-line: underline;

    color: #74B105;
}

.merece{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 180px;
    width: 433px;
    left: 73.5rem;
    top: 37.2rem;
    border-radius: 106px;
    border: none;
    background-color:var(--primary-color);

    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 5.8rem;
    text-align: center;
    color: white;
    
}
span{
    font-size: 7.1rem;
    line-height: 7.1rem;
}
span:first-child{
    color: var(--secondary-color);
}

article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 13rem;
    margin-bottom: 5rem;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;

    color: var(--primary-color);
}

main span{
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 900;
}

main p{
    margin-left: 5rem;
}