*
{
    margin: 0;
    box-sizing: border-box;
}

:root
{
    font-size: 62.5%;
    --primary-color: rgb(138, 60, 228);
}

html, body
{
    height: 100%;
}
body
{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(var(--primary-color), rgb(62, 117, 235));
    background-attachment: fixed;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 15rem;
}

main h1
{
    margin-bottom: 5rem; 
    font-size: 5rem; 
    color: white;
    
}
main form
{
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;

    border-radius: 5rem;
    border: 1px solid var(--primary-color);
    margin-bottom: 1rem;
    background-color: #fff;
}
#insert-task
{
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    outline: none;
}
#submit-task
{
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    color:  var(--primary-color);
    
    padding: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: white;
}
#submit-task:hover
{
    background-color: var(--primary-color);
    color: #fff;
}
#tasks-list
{
    color: var(--primary-color);
    margin-top: 1rem;
    font-size: 2rem;
}
#tasks-div
{
    border: 1px solid #fff;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5rem;
    width: 65rem;
}
#tasks-div label, input, i
{
    margin-inline: 1rem;
}
#tasks-div label
{
    margin-left: 20rem;
}
#done
{
    text-decoration: line-through solid green 2px;
    color: green;
}
#up-btn
{
    color: #fff; 
    margin-top: 5rem; 
    cursor: pointer;  
}